<h1>Check out our Artists!</h1>

<%if @artists %>
    <% @artists.each do |artist|%>
        <%= image_tag artist.artist_image, class: "img-thumbnail box", width: 2500 if artist.artist_image.attached? %>
        <p><%=artist.user.first_name%> <%=link_to artist.user.last_name, artist_path(artist) %></p>
    <%end%>
<%end%>