<h2>Check out our <span class="tdc-name">Artists</span></h2>
<br>
<%# Display all artists registered on TDC %>

<%if @artists %>
    <% @artists.each do |artist|%>
        <p><%=link_to "#{artist.user.first_name} #{artist.user.last_name}", artist_path(artist) %></p>
        <%= image_tag artist.artist_image, class: "img-thumbnail box", width: 200 if artist.artist_image.attached? %>
    <%end%>
<%end%>

<hr>
<p><%= link_to "Back", :back %></p>