<h2>About <span class="tdc-name">Us</span></h2>

<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In quis purus ultrices, hendrerit risus non, tincidunt urna. Interdum et malesuada fames ac ante ipsum primis in faucibus. Nunc gravida purus vel posuere tempus. Praesent dictum odio rhoncus convallis dignissim. Fusce a orci eget tellus congue scelerisque. Aenean hendrerit pulvinar felis vel posuere. Nam efficitur dictum tellus. Donec gravida tempor pellentesque. Praesent consequat tempus augue quis gravida. <p>
<hr>
<%= image_tag src="swirl.jpg" %>
<hr>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse potenti. Cras quis orci ac felis rutrum luctus nec sit amet lectus. Donec a porta nisl. Proin vitae sagittis velit. Nullam elementum sapien eget consectetur ullamcorper. Sed malesuada vulputate magna sed pellentesque. Maecenas at fringilla ante. Vestibulum congue diam massa. Praesent et tellus aliquam nulla aliquet congue. Vestibulum in sollicitudin justo. Aenean hendrerit est nec augue viverra, in aliquet quam dictum. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Morbi nec ultricies ipsum. Aenean euismod tincidunt ante, sed congue magna molestie rhoncus. </p>

<p><%= link_to "Back", :back %></p>