<h2>About <span class="tdc-name">Us</span></h2>

<p>Indigenous art isn't just about creativity, it is a direct link to their ancient culture and a way to pass this along to future generations. As indigenous people do not have a traditional "written history" prior to the interpreted and incomplete documentation by Europeans, this fundamental form of expression is crucial to the preservation of their past and the persistence of their culture into the future. Further, it is essential that indigenous people be provided with equal opportunities to provide for themselves and their communities via their work, both financially and culturally.<p>
<hr>
<br>
<%= image_tag src="940.jpg" %>
<hr>
<br>
<p>The upsides of providing a solution to this issue are numerous, such as:</p>

<ul>
    <li>Providing the appropriate level of ownership over their creations by indigenous artists</li>
    <li>Providing financial freedom and empowerment via a self-generated income stream</li>
    <li>Providing safeguards against the future exploitation of artists</li>
    <li>Providing channels for the production of authentic indigenous art direct from the source</li>
    <li>Providing assurance that any transactions with potential customers are ethical</li>
    <li>Providing a way for artists to feed this empowerment back into their communities to enable the improvement of infrastructure and a marked increase to quality of life</li>
</ul>
<br>
<h4>We are proud to provide <span class="tdc-name">The Dreaming Collective</span> as a sanctuary for the progress of these ideals.</h4>
<br>
<hr>
<br>
<p><%= link_to "Back", :back, class: "btn btn-info" %></p>