
<h1 class="row">Welcome to <span class="tdc-name">The Dreaming Collective</span></h1>

<div class="home-container">

  <section>
    <%= image_tag src="swirl.jpg" %>
  </section>

</div>

<%# # CAROUSEL TO BE EDITED %>

<%# <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
        <img src="..." class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="..." class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="..." class="d-block w-100" alt="...">
    </div>
  </div>
</div> %>