<h1>Welcome to The Dreaming Collective</h1>

<section>
    <%= image_tag 'swirl.jpg', alt:"Swirl pattern dot painting", class: "home-image" %>
<section>

<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque non justo condimentum, varius lorem aliquet, aliquet risus.</p>