<h2>Your Purchases</h2>
<br>    
<div>
    <%if user_signed_in?%>
        <% @purchases.each do |order|%>
        <%= image_tag order.item.item_image, class: "img-thumbnail box", width: 400 if order.item.item_image.attached? %>
        <p><%= order.item.name %></p>
        <%= link_to 'Show', item_path(order.item.id) %>|
        <%= link_to 'Back', :back %>
        <%end%>
    <%end%>
</div>