<h2>Our Gallery</h2>
<br>
<%# Show each artwork listed on TDC %>
<%if @items %>
    <% @items.each do |item|%>
        <%= image_tag item.item_image, class: "img-thumbnail box", width: 200 if item.item_image.attached? %>
        <p><%= link_to item.name, item_path(item) %></p>
        <% if user_signed_in? && current_user.id == item.artist.user_id %>
            <p><%= link_to 'Remove', item, method: "delete", class:"btn btn-danger"%></p>
        <% end %>
    <%end%>
<%end%>
<p><%= link_to "Back", :back %></p>